/* .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
}

#bookingForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 500px;
}

#bookingForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

#bookingForm input[type="text"],
#bookingForm input[type="email"],
#bookingForm input[type="tel"],
#bookingForm input[type="date"],
#bookingForm input[type="time"],
#bookingForm input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#bookingForm input[type="submit"] {
    background-color: #ff6347; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#bookingForm input[type="submit"]:hover {
    background-color: #ff4500; 
}
 */