/* Mainpage.css */
body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana Tahoma, serif;
  background-color: #fff;
  color: #000;
  font-size: 16px;

  overflow-x: hidden;
}
.Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: Verdana Tahoma, serif;
}

#HomePage {
  padding: 5px;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: url(../Images/Skärmklipp5.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* hamburgare start */
.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: start;
  margin: 0px;
  padding: 0px;
  font-family: Verdana Tahoma, serif;
  background-color: #fff;
  z-index: 12;
}
.topnav a {
  position: sticky;
  color: white;
  top: 0px;
  text-align: center;
  margin: 0px;
  text-decoration: none;
  font-size: clamp(14px, 5vw, 45px);
}
.topnav a:hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}
.p-menu1 {
  height: 25%;
}

.hamburger1 {
  height: 45px;
  margin: 0px;
  grid-template-rows: repeat(3, 1fr);
  justify-items: end;
  z-index: 120;
}

.hamburger1 div {
  background-color: white;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  margin-right: 7px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
#toggle1 {
  display: none;
}
#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}
#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}
#toggle1:checked ~ .menu1 {
  height: 220px;
}

.menu1 {
  width: 100%;

  margin: 0;
  display: -ms-grid;
  display: grid;
  padding: 0px;
  list-style: none;
  clear: both;
  width: auto;
  text-align: center;
  min-height: 10dvh;
  overflow: hidden;
  transition: height 0.4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: Verdana Tahoma, serif;
  position: absolute;
  left: 0%;
}
.menu1 a:first-child {
  margin-top: 10px;
}
.menu1 a:last-child {
  margin-bottom: 40px;
}

.topnav {
  width: 100%;

  text-align: end;
  margin: 0px;
  padding: 0px;
  font-family: Verdana Tahoma, serif;
}
.topnav a {
  text-align: center;
  margin: 0px;
  text-decoration: none;

  font-size: 35px;
  width: 100vw;
  z-index: 120;
}
/* hamburgare slut */
@media screen and (min-width: 600px) {
  .hamburger1 {
    display: none;
  }
  #toggle1 {
    display: none;
  }
  .menu1 {
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #174978a6, #00000094);
  }
  .menu1 a:first-child {
    margin-top: 0px;
  }
  .menu1 a:last-child {
    margin-bottom: 0px;
  }
  header {
    margin: 5px;
    padding: 5px;
    height: 100%;
    width: 100vh;
    max-width: 100%;

    background-image: url(/src/Images/brabild.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .topnav {
    width: 100%;
    text-align: end;
    margin: 0px;
    padding: 0px;
    font-family: Verdana Tahoma, serif;
  }
  .topnav a {
    display: flex;
    justify-content: center;
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    width: 100%;
    z-index: 120;
  }
  .MainButtons {
    position: relative;
    left: 25%;
    top: 300px;
    width: 100%;
  }
}
.MainButtons {
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
  z-index: 13;
  color: white;
  margin-left: 20%;
}
