body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-image: url(../../assets/Images/jason-leung-poI7DelFiVA-unsplash.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerFooter {
  background: linear-gradient(to right, #f39292, #c78f8f);
  color: #23114a;

  text-align: center;
  display: flex;
  height: 160px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0px;
  width: 100%;
  text-align: center;
}

.footerFooter h3 {
  font-size: 2em;
  margin-bottom: 15px;
  color: rgb(40, 15, 79);
}

.footerFooter p {
  margin: 7px 10px;
}

.footerFooter a {
  color: #361755;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  font-size: 1.3em;
  transition: color 0.3s ease-in-out;
}

.footerFooter a:hover {
  color: #1b0d3f;
}

@media screen and (max-width: 600px) {
  body .footerFooter {
    display: flex;
    background: linear-gradient(to right, #f39292, #c78f8f);
    color: #23114a;

    text-align: center;

    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  .footerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .footerFooter h3 {
    font-size: clamp(14px, 1vw, 45px);
    margin-bottom: 1px;
    color: rgb(40, 10, 79);
  }

  .footerFooter a {
    color: #361755;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1.3em;
    transition: color 0.3s ease-in-out;
    font-size: clamp(14px, 2vw, 45px);
  }

  .footerFooter a:hover {
    color: #1b0d3f;
  }
  #Follow {
    position: relative;
    right: 10px;
    bottom: 51px;
  }
}
