.topnav {
  width: 100%;
  text-align: start;
  margin: 0px;
  padding: 0px;
  height: 150px;
  font-family: Verdana Tahoma, serif;
  background-color: #e57b7b;
  z-index: 12;
}
.topnav a {
  position: sticky;
  color: white;
  top: 0;
  text-align: center;
  margin: 0px;
  text-decoration: none;
  font-size: clamp(14px, 5vw, 45px);
}
.topnav a:hover {
  text-decoration: underline;
}

.btn-outline-warning {
  --bs-btn-color: #591109;
  --bs-btn-border-color: #591109;
  --bs-btn-hover-color: #f9f4f4;
  --bs-btn-hover-bg: #591109;
  --bs-btn-hover-border-color: #f7f6f6;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #591109;
  --bs-btn-active-border-color: #591109;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #591109;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #591109;
}

@media screen and (min-width: 600px) {
  .hamburger1 {
    display: none;
  }
  #toggle1 {
    display: none;
  }
  .menu1 {
    display: flex;
    height: 45px;
    gap: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 37px;
  }
  .topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    text-align: start;
    margin: 0px;
    padding: 0px;
    height: 100px;
    font-family: Verdana Tahoma, serif;
    background-color: #e57b7b;
    z-index: 12;
  }
  .topnav a {
    position: sticky;
    color: rgb(40, 15, 79);
    top: 0;
    text-align: center;
    margin: 0px;
    text-decoration: none;
    font-size: clamp(14px, 5vw, 45px);
  }
  .topnav a:hover {
    text-decoration: underline;
  }
}
@media screen and (max-width: 600px) {
  .main {
    display: flex;
    height: fit-content;
    flex-direction: column;
    font-size: 28px;
  }

  #text1 {
    font-size: 50px;
    font-family: Verdana Tahoma, serif;
  }
  #text2 {
    font-size: 50px;
    font-family: Verdana Tahoma, serif;
  }
  #text3 {
    font-size: 50px;
    font-family: Verdana Tahoma, serif;
  }

  a {
    color: rgb(247, 118, 118);
    text-decoration: none;
  }
  .p-menu1 {
    height: 100%;
  }
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    margin: 0px;

    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
  }

  .hamburger1 div {
    background-color: rgb(4, 44, 58);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    margin-right: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
  }
  #toggle1 {
    display: none;
  }
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -5px;
  }
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  #toggle1:checked ~ .menu1 {
    height: 225px;
  }

  .menu1 {
    width: 100%;

    margin: 0;
    display: -ms-grid;
    display: grid;
    padding: 0px;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height 0.4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: Verdana Tahoma, serif;
    position: absolute;
    top: 100%;
    left: 0%;
  }
  .menu1 a:first-child {
    margin-top: 0px;
  }
  .menu1 a:last-child {
    margin-bottom: 60px;
  }

  .topnav {
    display: flex;
    width: 100%;
    height: 45px;
    text-align: end;
    margin: 0px;
    padding: 0px;
    font-family: Verdana Tahoma, serif;
  }
  .topnav a {
    color: rgb(17, 10, 49);
    text-align: center;
    margin: 0px;
    text-decoration: none;
    font-size: 30px;
    background-color: rgba(215, 111, 111, 0.794);
    width: 100vw;
    z-index: 120;
  }
}
